html {
    overflow: auto;
}

.header {
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: var(--joplin-color);
}

.toc-item a {
    padding: 0 2px;
    text-decoration: none;
}

.toc-item a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-corner {
    background: none;
}

::-webkit-scrollbar-track {
    border: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 0.7);
}
