html {
  overflow: auto;
}

#header {
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: var(--joplin-color);
  padding: 5px;
}

.toggle-button {
  user-select: none;
  color: var(--joplin-color-faded);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-corner {
  background: none;
}

::-webkit-scrollbar-track {
  border: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.7);
}
